{% extends "manager/base.html" %}

{% block extra_crumb %}
    <li><a href="{% url manager:group_list %}">Группы</a></li><span class="divider">/</span></li>
    <li class="active">
        {{ studygroup.subject.short_name }} ({{ studygroup.start }} - {{ studygroup.end }})
    </li>
{% endblock %}

{% block title %}Подтвердите закрытие группы {% endblock %}

{% block content %}
{% if  studygroup.is_last_attestated %}
    Сертификаты получат:
    <ul>
        {% for listener in studygroup.attested_listeners %}
            <li>{{ listener }}</li>
        {% endfor %}
    </ul>

    Без сертификатов:
    <ul>
        {% for listener in studygroup.not_attested_listeners %}
            <li>{{ listener }}</li>
        {% endfor %}
    </ul>
    <form action="." method="post">
        {% csrf_token %}
        <input type="submit" value="Закрыть">
    </form>
{% else %}
    Нельзя закрыть эту группу
{% endif %}
{% endblock %}
