{% extends "manager/base.html" %}

{% block extra_crumb %}
    <li><a href="{% url manager:group_list %}">Группы</a></li><span class="divider">/</span></li>
    <li class="active">
        {{ studygroup.subject.short_name }} ({{ studygroup.start }} - {{ studygroup.end }})
    </li>
{% endblock %}

{% block title %}Группа {{ studygroup.subject.short_name }}-{{ studygroup.subject.hours }}{% endblock %}

{% block content %}
    <div class="hero-unit">Статус: <span class="label">{{ studygroup.get_status_display }}</span></div>
    
    {% if studygroup.is_pending %}
        <hr>
        <table class="table">
            <tr><th>Направление</th><td>{{ studygroup.subject.name }}</td></tr>
            <tr><th>Сроки проведения</th><td>с {{ studygroup.start }} по {{ studygroup.end }}</td></tr>
        </table>
    {% endif %}
    {% if studygroup.is_completing %}
        <div class="span4"><table class="table">
            <tr>
                <th>Слушателей</th>
                <td>{{ studygroup.students.all.count }}</td>
            </tr>
            <tr>
                <th>Организаций</th>
                <td>{{ studygroup.organizations.count }}</td>
            </tr>
        </table></div>
        <div class="span5">
            <ul>
            {% for listener in studygroup.students.all %}
                <li>{{ listener.fio }} ({{ listener.organization }})</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if studygroup.is_active %}
        <div class="span4"><table class="table">
            <tr>
                <th>Слушателей</th>
                <td>{{ studygroup.students.all.count }}</td>
            </tr>
            <tr>
                <th>Организаций</th>
                <td>{{ studygroup.organizations.count }}</td>
            </tr>
        </table></div>
        <div class="span5">
            <ul>
            {% for listener in studygroup.students.all %}
                <li>{{ listener.fio }} ({{ listener.organization }})</li>
            {% endfor %}
            </ul>
            <a href="opening.odt"><i class="icon-print"></i> Приказ об открытии</a>
            <a href="report.odt"><i class="icon-print"></i> Реестр группы</a>
        </div>
    {% endif %}
    {% if studygroup.is_certificating %}
        <table class="table">
            <tr>
                <th>Аттестовано слушателей</th>
                <td>
                    <ul>
                        {% for listener in studygroup.attested_listeners.all %}
                            <li>{{ listener.fio }} ({{ listener.organization }})</li>
                        {% endfor %}
                    </ul>
                    Всего: {{ studygroup.attested_listeners.count }}
                </td>
            </tr>
            <tr>
                <th>Не аттестовано</th>
                <td>
                    <ul>{% for listener in studygroup.not_attested_listeners.all %}
                        <li>{{ listener.fio }} ({{ listener.organization }})</li>
                    {% endfor %}</ul>
                    Всего: {{ studygroup.not_attested_listeners.count }}
                </td>
            </tr>
        </table>
    {% endif %}
    {% if studygroup.is_certificated %}
        <table class="table">
                    <tr>
                        <th>Аттестовано слушателей</th>
                        <td>
                            <ul>
                                {% for listener in studygroup.attested_listeners.all %}
                                    <li>{{ listener.fio }} ({{ listener.organization }})</li>
                                {% endfor %}
                            </ul>
                            Всего: {{ studygroup.attested_listeners.count }}
                        </td>
                    </tr>
                    <tr>
                        <th>Не аттестовано</th>
                        <td>
                            <ul>{% for listener in studygroup.not_attested_listeners.all %}
                                <li>{{ listener.fio }} ({{ listener.organization }})</li>
                            {% endfor %}</ul>
                            Всего: {{ studygroup.not_attested_listeners.count }}
                        </td>
                    </tr>
                </table>
    {% endif %}
    {% if studygroup.is_closed %}
        Сертификаты:
        <ul>
        {% for certificate in studygroup.certificate_set.all %}
            <li>Сертификат №{{ certificate.cert_number }} Выдан {{ certificate.listener }}</li>
        {% empty %}
            <li>Ошибка вышла. Нет сертификатов, а группа уже закрыта</li>
        {% endfor %}
        </ul>

        <a href="closing.odt"><i class="icon-print"></i> Приказ о закрытии</a>
        {% if studygroup.not_attested_listeners.count %}
            <a href="dissmiss.odt"><i class="icon-print"></i> Приказ об отчислении</a>
        {% endif %}
    {% endif %}
{% endblock %}
