{% extends "manager/base.html" %}

{% block content_title %}<h1 class="page-header">{% block title %}{% endblock %}</h1>{% endblock %}

{% block extra_crumb %}
    <li><a href="{% url manager:group_list %}">Группы</a></li><span class="divider">/</span></li>
    <li class="active">
        {{ studygroup.subject.short_name }} ({{ studygroup.start }} - {{ studygroup.end }})
    </li>
{% endblock %}

{% block content %}
    Статус: {{ studygroup.get_status_display }}
    <br>
    {% if studygroup.is_closed %}
        Сертификаты:
        <ul>
        {% for certificate in studygroup.certificate_set.all %}
            <li>Сертификат №{{ certificate.cert_number }} Выдан {{ certificate.listener }}</li>
        {% empty %}
            <li>Ошибка вышла. Нет сертификатов, а группа уже закрыта</li>
        {% endfor %}
        </ul>

        <a href="certificates.odt"><i class="icon-print"></i> Распечатать документ</a>
    {% endif %}
{% endblock %}
