{% extends "manager/base.html" %}
{% load zenforms %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/vendor/select2/select2.css" />
    {{ block.super }}
{% endblock %}

{% block js %}
    {{  block.super }}
    {{ form.media }}
    <script type="text/javascript">
    $(function(){
        $('form.uniForm').uniform();
        $('select').select2();
    })
    </script>
    <script src="{{ STATIC_URL }}js/vendor/select2/select2.min.js"></script>
{% endblock %}

{% block extra_crumb %}
    <li><a href="{% url manager:group_list %}">
        Группы</a></li><span class="divider">/</span></li>
    <li class="active">Добавить группу</li>
{% endblock %}

{% block title %}Добавить группу{% endblock %}

{% block content %}
<div class="row">
    <div class="span10">
        {% izenform form options submit="Добавить" %}
    </div>
</div>
{% endblock content %}
