{% extends "manager/base.html" %}

{% block extra_crumb %}
    <li class="active">Группы</li>
{% endblock %}

{% block title %}Список групп{% endblock %}

{% block content %}
    <div class="row"><div class="span12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Филиал</th>
                <th>Направление</th>
                <th>Дата начала</th>
                <th>Дата окончания</th>
                <th>Статус</th>
                <th>Номер</th>
                <th>Кол-во слушателей</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for group in groups %}
                <tr>
                    <td>{{ group.department }}</td>
                    <td>{{ group.subject.short_name }} ({{ group.hours }} ч.)</td>
                    <td>{{ group.start }}</td>
                    <td>{{ group.end }}</td>
                    <td>{{ group.get_status_display }}</td>
                    <td>{{ group.number|default_if_none:"&mdash;" }}</td>
                    <td>{{ group.students.all.count }}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn" href="{% url manager:group_detail group.pk %}">Посмотреть</a>
                            {% if group.is_managed %}
                            <span class="btn dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </span>
                            <ul class="dropdown-menu">
                                {% if group.is_pending %}
                                <li><a href="{% url manager:group_edit group.pk %}">Редактировать</a></li>
                                <li class="danger"><a href="{% url manager:group_delete group.pk %}">Удалить</a></li>
                                {% endif %}
                                {% if group.is_last_attestated %}
                                <li><a href="{% url manager:group_close group.pk %}">
                                    Закрыть и выдать сертификаты
                                </a></li>
                                {% endif %}
                            </ul>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{% url manager:group_add %}" class="btn"><i class="icon-plus"></i>
            Добавить</a>
        <a class="btn" href="{% url manager:update_numers %}">Автонумерация</a>
    </div></div>
{% endblock content %}
