DateUtils==0.5.2
Django==1.4.2
South==0.7.6
URLObject==0.6.0
amqplib==1.0.2
anyjson==0.3.3
billiard==2.7.3.18
celery==3.0.11
distribute==0.6.24
dj-database-url==0.2.1
django-classy-tags==0.3.4.1
django-zenforms==0.1.6
django-ztask==0.1.5
djangorestframework==0.4.0
kombu==2.4.8
librabbitmq==1.0.0
pymorphy==0.5.6
python-dateutil==1.5
pytz==2012h
six==1.2.0
xlrd==0.8.0
xlutils==1.5.2
xlwt==0.7.4
