{% extends "auth/base.html" %}


{% block title %}Список сотрудников{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
            <table class="table table-bordered table-striped">
                <tr>
                    <th></th>
                    <th>ФИО</th>
                    <th>Филиал</th>
                </tr>

                {% for teacher in object_list %}
                    <tr>
                        <td>
                            {{ forloop.counter }}
                        </td>
                        <td>
                            <a href="{% url crud:auth.teacher.read teacher.pk %}">
                                {{ teacher.last_name }}
                                {{ teacher.first_name }}
                                {{ teacher.patronymic }}
                            </a>
                        </td>
                        <td>
                            {{ teacher.department }}
                        </td>
                    </tr>

                {% endfor %}
            </table>
            <a class="btn" href="{% url crud:auth.teacher.create %}">Создать</a>

        </div>
    </div>
{% endblock content %}