{% extends "core/base.html" %}
{% load zenforms %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/vendor/select2/select2.css" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
    $(function(){
        $('form.uniForm').uniform();
        $('select').select2();

        $('#id_last_name').autocompleteNames({
            url: '{% url api:autocomplete_last_name %}'
        });
        $('#id_first_name').autocompleteNames({
            url: '{% url api:autocomplete_first_name %}'
        });
        $('#id_patronymic').autocompleteNames({
            url: '{% url api:autocomplete_patronymic %}'
        });

        $('#id_last_name, #id_first_name, #id_patronymic').blur(function(){
            var last_name = $('#id_last_name').val(),
                first_name = $('#id_first_name').val(),
                patronymic = $('#id_patronymic').val();

            if (last_name.length && first_name.length && patronymic.length) {
                $.ajax('{% url api:inflate %}', {
                    type: 'POST',
                    data: {
                        format: 'json',
                        last_name: last_name,
                        first_name: first_name,
                        patronymic: patronymic
                    },
                    dataType: 'json',
                    success: function(data){
                        $('#id_last_name_inflated').val(data['last_name']);
                        $('#id_first_name_inflated').val(data['first_name']);
                        $('#id_patronymic_inflated').val(data['patronymic']);
                        $('#id_last_name_inflated, #id_first_name_inflated, ' +
                                '#id_patronymic_inflated').effect('highlight', 500);

                    }
                });
            }
        });

    });
    </script>
    <script src="{{ STATIC_URL }}js/vendor/select2/select2.min.js"></script>
{% endblock %}

{% block content %}
    <h2 class="page-header">Добавить слушателя</h2>
    {% zenform form  %}
        {% multifield 'last_name' 'first_name' 'patronymic' as credentials label 'ФИО слушателя' %}
        {% fieldset credentials %}
        {% multifield 'last_name_inflated' 'first_name_inflated' 'patronymic_inflated' as credentials_inflated label 'ФИО слушателя в дательном падеже' %}
        {% fieldset credentials_inflated %}
        {% submit "Добавить" %}
    {% endzenform %}
{% endblock content %}