{% extends "auth/base.html" %}
{% load paginate %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url crud:core.department.list %}">Все филиалы</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{{ course.department.get_absolute_url }}">{{ course.department }}</a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{{ course.get_absolute_url }}">{{ course|truncatewords:3 }}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">Список всех слушателей филиала</li>
    </ul>
{% endblock %}

{% block title %}Выбрать слушателей для курса {{ course|truncatewords:3 }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
            <form action="{% url listener_register_batch course.pk %}" method="post">
            <table class="table table-bordered table-striped">
                {% include "includes/listener_table_thead.html" %}
                {% for listener in object_list %}
                    {% include "includes/listener_table_tr_checkbox.html" %}
                {% endfor %}
            </table>
            <div>
                <input type="hidden" name="next" value="none">
                <input type="submit" class="btn submit" value="Добавить выбранных">
                <input type="hidden" name="next" value="{% url add_listener_batch course.pk %}{% if get_params %}?{{ get_params }}&{% else %}?{% endif %}page={{ page_obj.next_page_number }}" />
                <input type="submit" class="btn submit btn-primary" value="Добавить и дальше">
            </div>
            {% csrf_token %}
            {{ form.errors }}
            </form>
            <div class="pagination-page">{% if page_obj %}{% digg_paginator %}{% endif %}</div>
        </div>
    </div>
{% endblock content %}