{% extends "core/base.html" %}
{% load zenforms %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/vendor/select2/select2.css" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
    $(function(){
        $('form.uniForm').uniform();
        $('select').select2();

        // autocomplete
        var cache = {}, lastXhr;
        $('#id_last_name').autocomplete({
            minLength:3,
            source:function (request, response) {
                var term = request.term;
                if (term in cache) {
                    response(cache[term]);
                    return;
                }

                lastXhr = $.getJSON("{% url api:autocomplete_lastname %}",
                        {last_name: request.term},
                        function (data, status, xhr) {
                            cache[ term ] = data;
                            if (xhr === lastXhr) {
                                response(data);
                            }
                        }
                );
            }
        });
    });
    </script>
    <script src="{{ STATIC_URL }}js/vendor/select2/select2.min.js"></script>
{% endblock %}

{% block content %}
    <h2 class="page-header">Добавить слушателя</h2>
    {% izenform form options submit="Добавить" %}
{% endblock content %}