{% extends "core/base.html" %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
      <li><a href="{% url core.department.list %}">Список филиалов</a> <span class="divider">/</span></li>
        <li><a href="{% url core.department.read object.department.pk %}">{{  object.department }}</a> <span class="divider">/</span></li>
      <li class="active">{{ object }}</li>
    </ul>
{% endblock %}

{% block title %}Курс - {{ object }}{% endblock %}

{% block content %}
    {% with object as course %}
    {% with object.students.all|slice:":20" as listeners %}
        {% include "includes/listener_table.html" %}
    {% endwith %}
    {% endwith %}

    <a class="btn" href="{% url add_listener object.pk %}"><i class="icon-plus"></i> Добавить
    слушателя</a>
{% endblock content %}