{% extends "core/base.html" %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
      <li><a href="{% url core.department.list %}">Список филиалов</a> <span class="divider">/</span></li>
        <li><a href="{% url core.department.read object.department.pk %}">{{  object.department }}</a> <span class="divider">/</span></li>
      <li class="active">{{ object }}</li>
    </ul>
{% endblock %}

{% block content %}
    <h2 class="page-header">{{ object }}</h2>
    Cлушатели

    {% for user in object.students.all %}
        {{ user.first_name }} {{ user.last_name }} ({{ user.get_profile.organization }})
    {% endfor %}

    <a href="{% url add_listener object.pk %}">Добавить слушателя</a>
{% endblock content %}