{% extends "core/base.html" %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
      <li><a href="{% url core.department.list %}">Список филиалов</a> <span class="divider">/</span></li>
      <li class="active">{{ object }}</li>
    </ul>
{% endblock %}

{% block title %}Страница филиала {{ object.name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
    <h2>Текущие курсы</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Предмет</th>
                <th>Дата начала</th>
                <th>Дата завершения</th>
            </tr>
        </thead>
        <tbody>
            {% for course in object.courses.all %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{{ course.get_absolute_url }}">{{ course }}</a></td>
                <td>{{ course.start }}</td>
                <td>{{ course.end }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

        <a class="btn" href="{% url course_add department.pk %}"><i class="icon-plus"></i> Добавить</a>
        </div>
    </div>
{% endblock content %}