{% extends "core/base.html" %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
      <li><a href="{% url crud:core.department.list %}">Список филиалов</a> <span class="divider">/</span></li>
      <li class="active">{{ object }}</li>
    </ul>
{% endblock %}

{% block title %}Филиал {{ object.name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="span6">
            <h4>Текущие курсы</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Предмет</th>
                        <th>Дата начала</th>
                        <th>Дата завершения</th>
                    </tr>
                </thead>
                <tbody>
                    {% for course in object.courses.all|slice:":10" %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{{ course.get_absolute_url }}">
                            {{ course|truncatewords_html:5 }}</a></td>
                        <td>{{ course.start }}</td>
                        <td>{{ course.end }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a class="btn" href="{% url course_add department.pk %}"><i class="icon-plus"></i> Добавить</a>
            <a class="pull-right" href="#">Полный список курсов</a>
        </div>
        <div class="span6">
            <h4>Слушатели</h4>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <h4>Организации, с которыми филиал сотрудничает</h4>
        </div>
        <div class="span6">
            <h4>Отчёты</h4>
            <ul>
                <li><a href="">за текущий месяц по всем обученным</a></li>
                <li><a href="">по выданным сертификатам</a></li>
                <li><a href="">по должностям</a></li>
            </ul>
        </div>
    </div>
{% endblock content %}