{% extends "core/base.html" %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="row">
        {% for department in departments %}
            <div class="span4">
            <div class="thumbnail">
                <a href="{{ department.get_absolute_url }}">
                    <img src="http://lorempixel.com/400/200/nature/{{ department.id }}/"
                     alt="http://lorempixel.com">
                </a>
                <hr>
                <div class="centered">
                    <a href="{{ department.get_absolute_url }}">{{ department }}</a>
                </div>
            </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}