<table class="table table-bordered table-striped">
        <tr>
            <th></th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Организация</th>
            <th>Должность</th>
            <th>Сертификат</th>
        </tr>
    {% for listener in listeners %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ listener.last_name }}</td>
            <td>{{ listener.first_name }}</td>
            <td>{{ listener.patronymic }}</td>
            <td>{{ listener.organization }}</td>
            <td>{{ listener.position }}</td>
            <td>
                {% for cert in listener.certificate_set.all %}
                {{ cert.name }}{% if not forloop.last %},{% endif %}
                {% endfor %}
                {% if not listener.certificate_set.exists %}
                    {% if course %}
                    <a class="btn" href="{% url emit_certificate course.id listener.id %}">выдать
                        сертификат</a>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>