<tr>
    <td>
        {% if page_obj %}
        {{ forloop.counter0|add:page_obj.start_index }}
        {% else %}
        {{ forloop.counter }}
        {% endif %}
    </td>
    <td>
        <a href="{% url crud:auth.listener.read listener.pk %}">{{ listener.last_name }}
            {{ listener.first_name }}
            {{ listener.patronymic }}
        </a>
        <br>
        <span class="muted">
            {{ listener.last_name_inflated }}
            {{ listener.first_name_inflated }}
            {{ listener.patronymic_inflated }}
        </span>
    </td>
    <td>{{ listener.organization }}</td>
    <td>{{ listener.position }}</td>
    <td>
        {% for cert in listener.certificate_set.all %}
        {{ cert.name }}{% if not forloop.last %},{% endif %}
        {% endfor %}
        {% if not listener.certificate_set.exists %}
            {% if course %}
            <a class="btn" href="#">выдать
                сертификат</a>
            {% endif %}
        {% endif %}
    </td>
</tr>
