<script type="text/javascript">
$(function(){
    // initialize widgets
    $('select[name=position]').select2();
    $('[name=organization__name]').select2({
        ajax:{
            dataType:'json',
            url:'{% url api:autocomplete_organization %}',
            data:function (term, page) {
                return {term:term};
            },
            results:function (data, page) {
                return {results:$.map(data, function (item, index) {
                    return {id:item, text:item};
                })};
            }
        }
    });

    var filters = ['position', 'organization__name'];
    // set filter values if exists in GET params
    var uri = parseUri(window.location);
    if (uri.query.length) {
        for (var i = 0; i < filters.length; i++) {
            var filterName = filters[i];
            var filterValue = decodeURIComponent(uri.queryKey[filterName]).split('+').join(' ');

            if (uri.queryKey[filterName] && filterValue.length) {
                $("[name=" + filterName + "]").select2("data", {
                    id: filterValue,
                    text: filterValue
                });
                $("#filter-form").addClass("in");
                $("a.btn.toggle").addClass("active");
            }
        }
    }

});
</script>
<style>
    .select2-container {width: 30em;}
</style>
<a class="btn toggle" data-toggle="collapse" onclick="$(this).toggleClass('active')"
   data-target="#filter-form"><i class="icon-filter"></i> Фильтр
</a>
<form action="." method="GET" onreset="window.location='.'" class="collapse" id="filter-form">
    <div class="control-group">
        <label class="control-label" for="id_organization">Организация</label>
        <div class="controls">
            <input id="id_organization" type="text" name="organization__name" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="id_position">Должность</label>
        <div class="controls">
            <select id="id_position" name="position">
                <option value="">---</option>
                {% for position in LISTENER_POSITIONS %}
                <option value="{{ position.0 }}">{{ position.0 }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Применить</button>
        <button type="reset" class="btn">Сбросить</button>
    </div>
</form>
