{% extends "core/base.html" %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
      <li><a href="{{ department.get_absolute_url }}">{{ department }}</a> <span
              class="divider">/</span></li>
      {% block extra_crumb %}{% endblock %}
    </ul>
{% endblock %}

{% block menu %}
<li><a href="{{ department.get_absolute_url }}">Филиал</a></li>
<li><a href="{% url department:studygroup_list department.pk %}">Группы</a></li>
<li><a href="{% url department:listener_list department.pk %}">Слушатели</a></li>
<li><a href="{% url department:organization_list department.pk %}">Организации</a></li>
{% endblock %}
