{% extends "department/base.html" %}

{% block extra_crumb %}
    <li class="active">Группы</li>
{% endblock %}

{% block title %}Список групп{% endblock %}

{% block content %}
    <table class="table table-striped">
        <tr>
            <th>Название</th>
            <th>Дата начала</th>
            <th>Дата завершения</th>
            <th>Кол-во слушателей</th>
        </tr>
        {% for course in object_list %}
        <tr>
            <td><a href="{{ course.get_absolute_url }}">{{ course }}</a></td>
            <td>{{ course.start }}</td>
            <td>{{ course.end }}</td>
            <td>{{ course.listeners.all.count }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock content %}
