{% extends "department/base.html" %}
{% load zenforms %}

{% block css %}
    {{ block.super }}
    <style>
    input[name=organization] {
        border: none;
        background: transparent;
    }
    </style>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/vendor/knockout-2.1.0.js"></script>
    <script type="text/javascript">
    $(function(){
        $('form.uniForm').uniform();
        $('select').select2();

        window.addOrganization = function() {
            $('[name=organization_id]').select2('close');
            $(".organization-select").hide();
            $(".organization-new").show();
        };

        window.selectOrganization = function() {
            $(".organization-select").show();
            $(".organization-new").hide();
        };
        window.selectOrganization();

        $('[name=last_name]').autocompleteNames({
            url: '{% url api:autocomplete_last_name %}'
        });
        $('[name=first_name]').autocompleteNames({
            url: '{% url api:autocomplete_first_name %}'
        });
        $('[name=patronymic]').autocompleteNames({
            url: '{% url api:autocomplete_patronymic %}'
        });
        $('[name=organization_id]').select2({
            ajax: {
                dataType: 'json',
                url: '{% url api:autocomplete_organization %}',
                data: function(term, page) {
                    return {term: term};
                },
                results: function(data, page) {
                    return {results: $.map(data, function(item){
                        return {id: item[1], text: item[0]};
                    })};
                }
            },
            formatNoMatches: function(term) {
                return '<span onclick="return addOrganization();" ' +
                        'class="btn" >'+
                        "<i class=\"icon-plus\"></i>Добавить</span> организацию в список";
            }
        });

        $('[name=organization_name]').on('keyup', function(){
            $('[name=organization_number]').val(/\d+/.exec($(this).val()));
        });

        $('[name=user_id]').on('change', function() {
            if ($(this).attr('checked')) {
                $('.organization-info,.new-user-info').hide();
            } else {
                $('.organization-info,.new-user-info').show();
            }
        });

        var lock = false;
        $('[name=last_name], [name=first_name], [name=patronymic]').blur(function(){
            if (lock) return;
            lock = true; // lock ajax

            var last_name = $('[name=last_name]').val(),
                first_name = $('[name=first_name]').val(),
                patronymic = $('[name=patronymic]').val();

            if (last_name.length && first_name.length && patronymic.length) {
                $.ajax('{% url api:autocomplete_user %}', {
                    type: 'POST',
                    data: {
                        last_name: last_name,
                        first_name: first_name,
                        patronymic: patronymic
                    },
                    dataType: 'json',
                    success: function(data){
                        lock = false; // release
                        $('[name=last_name_inflated]').val(data['last_name']);
                        $('[name=first_name_inflated]').val(data['first_name']);
                        $('[name=patronymic_inflated]').val(data['patronymic']);
                        $('[name=last_name]_inflated, [name=first_name_inflated], ' +
                                '[name=patronymic_inflated]').effect('highlight', 500);

                        // Если пользователь уже есть - показать его данные,
                        // если нет - создать нового
                        var userinfo_div = $('.user-info');
                        if (data.user) {
                            ko.applyBindings(data.user, userinfo_div.get(0));
                            userinfo_div.show().effect('highlight', 300);
                        } else {
                            userinfo_div.hide();
                        }
                    }
                });
            } else {
                lock = false; // release
            }
        });

    });
    </script>
{% endblock %}

{% block extra_crumb %}
    <li><a href="{% url department:studygroup_list department.pk %}">
        Cписок групп</a><span class="divider">/</span></li>
    <li><a href="{{ studygroup.get_absolute_url }}">
        {{ studygroup|truncatewords:3 }}</a><span class="divider">/</span></li>
    <li class="active">Регистрация нового слушателя</li>
{% endblock %}

{% block title %}Регистрация нового слушателя{% endblock %}

{% block content %}
    {% zenform form %}
        <fieldset class="span6 bootstrap inline">
            <h3>ФИО слушателя</h3>
            <div class="ctrlHolder"><label>Фамилия<br>
                {{ form.last_name|attrs:'class="input-medium"' }}
                {{ form.last_name.errors }}
            </label>
            <label>Имя<br>
                {{ form.first_name|attrs:'class="input-medium"' }}
                {{ form.first_name.errors }}
            </label>
            <label>Отчество<br>
                {{ form.patronymic|attrs:'class="input-medium"' }}
                {{ form.patronymic.errors }}
            </label></div>
        </fieldset>
        <fieldset class="span6 bootstrap inline">
            <h3>ФИО слушателя в дательном падеже</h3>
            <div class="ctrlHolder"><label>Фамилия<br>
                {{ form.last_name_inflated|attrs:'class="input-medium"' }}
                {{ form.last_name_inflated.errors }}
            </label>
            <label>Имя<br>
                {{ form.first_name_inflated|attrs:'class="input-medium"' }}
                {{ form.first_name_inflated.errors }}
            </label>
            <label>Отчество<br>
                {{ form.patronymic_inflated|attrs:'class="input-medium"' }}
                {{ form.patronymic_inflated.errors }}
            </label></div>
        </fieldset>
        <div class="user-info" style="display: none;">
            <h3>Найден зарегистрированный пользователь</h3>
            <div class="ctlGroup">
                Огранизация: <span data-bind="text: organization_name"></span>
            </div>
            <div class="ctlGroup">
                Должность: <span data-bind="text: position"></span>
            </div>
            <div class="ctlGroup" data-bind="if: profile">
                Профиль: <span data-bind="text: profile"></span>
            </div>
            <label>
                <input type="checkbox" data-bind="value: id" name="user_id">
                Выбрать этого пользователя
            </label>
        </div>
        <div class="user-info-new hidden">Новый пользователь</div>
        <fieldset class="organization-info bootstrap">
            <h3>Организация</h3>
            <div class="ctrlHolder organization-select"><label>Выберите организацию <br>
                {{ form.organization_id }}
                {{ form.organization_id.errors }}
            </label></div>
            <div class="organization-new">
                <div class="ctrlHolder">
                    <label class="inline">Название <br>
                        {{ form.organization_name|attrs:"class='inpu-large'" }}
                        {{ form.organization_name.errors }}
                    </label>
                    <label class="inline">Номер <br>
                        {{ form.organization_number|attrs:"class='input-mini'" }}
                        {{ form.organization_number.errors }}
                    </label>
                </div>
            <div class="ctrlHolder"><label>Адрес <br>
                {{ form.organization_address }}
                {{ form.organization_address.errors }}
            </label></div>
            <div class="ctrlHolder"><label>Тип <br>
                {{ form.organization_cast }}
                {{ form.organization_cast.errors }}
            </label></div>
                <a href="#" onclick="return selectOrganization();">Выбрать из существующих</a>
            </div>

        </fieldset>
        <div class="new-user-info">
            {% fieldset 'category' 'position' 'profile' title "Дополнительно" %}
        </div>
        {% submit "Добавить" %}
    {% endzenform %}
{% endblock content %}
