{% extends "department/base.html" %}
{% load paginate %}

{% block extra_crumb %}
    <li><a href="{% url department:studygroup_list department.pk %}">
        Cписок групп</a><span class="divider">/</span></li>
    <li><a href="{{ studygroup.get_absolute_url }}">
        {{ studygroup|truncatewords:3 }}</a><span class="divider">/</span></li>
    <li class="active">Добавить слушателей из списка</li>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
    $(function(){
        var uri = parseUri(window.location);
        if (uri.query.length) {
            var searchValue = decodeURIComponent(uri.queryKey.search).split('+').join(' ');
            if (uri.queryKey.search && searchValue.length) {
                $("#id_search").val(searchValue);
            }
        }

        $('#id_select_all').change(function(e){
            $('table input[type=checkbox]').prop('checked', $(e.target).prop('checked'));
        });



    });
    </script>
{% endblock %}

{% block title %}Выбрать слушателей из списка для группы {{ studygroup|truncatewords:3 }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
            <div class="clearfix">
            <form action="." class="pull-right" method="get">
                <div class="control-group">
                    <label class="control-label" for="id_search">Поиск по фамилии</label>
                    <div class="controls">
                        <input id="id_search" type="search" name="search">
                        <input type="submit" value="Поиск" >
                    </div>
                </div>
            </form>
            {% include "includes/listener_filter.html" %}
            </div>
            <form action="." method="post">
            {% if get_params %}
                <a class="pull-right" href="
                {% url department:studygroup_listener_add department.pk studygroup.pk %}">
                    <i class="icon-filter"></i> cбросить фильтр
                </a>
            {% endif %}
            <table class="table table-bordered table-striped">
                <tr>
                    <th><input type="checkbox" id="id_select_all" title="Выбрать всех"> </th>
                    <th>ФИО</th>
                    <th>Организация</th>
                    <th>Должность</th>
                    <th>Сертификат</th>
                </tr>

                {% for listener in object_list %}
                    {% include "includes/listener_table_tr_checkbox.html" %}
                {% endfor %}
            </table>
            {% if get_params %}
                <a class="pull-right" href="
                {% url department:studygroup_listener_add department.pk studygroup.pk %}">
                    <i class="icon-filter"></i> cбросить фильтр
                </a>
            {% endif %}
            <div>
                <input type="hidden" name="next" value="none">
                <input type="submit" onclick="$('input[name=next]').remove();" class="btn submit"
                       value="Добавить выбранных">
                <input type="hidden" name="next"
                    value="{% url department:studygroup_listener_add department.pk studygroup.pk %}{% if get_params %}?{{ get_params }}&{% else %}?{% endif %}page={{ page_obj.next_page_number }}" />
                {% if page_obj.has_next %}
                <input type="submit" class="btn submit btn-primary" value="Добавить и дальше">
                {% endif %}
            </div>
            {% csrf_token %}
            {{ form.errors }}
            </form>
            <div class="pagination-page">{% if page_obj %}{% digg_paginator %}{% endif %}</div>
        </div>
    </div>
{% endblock content %}
