{% extends "department/base.html" %}
{% load paginate %}

{% block extra_crumb %}
    <li><a href="{% url department:studygroup_list department.pk %}">
        Cписок групп</a><span class="divider">/</span></li>
    <li><a href="{{ studygroup.get_absolute_url }}">
        {{ studygroup|truncatewords:3 }}</a><span class="divider">/</span></li>
    <li class="active">Удалить слушателя</li>
{% endblock %}


{% block title %}Подтвердите удаление слушателя {{ object.listener.fio }} из группы {{ studygroup|truncatewords:3 }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
            <form action="." method="post">
            {% csrf_token %}
            <input type="submit" value="Удалить">
            </form>
        </div>
    </div>
{% endblock content %}
