{% extends "department/studygroup_base.html" %}
{% load paginate %}

{% block extra_crumb %}
    <li class="active">Список слушателей</li>
{% endblock %}

{% block title %}Список слушателей группы - {{ studygroup|truncatewords:3 }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
            {% include "includes/listener_filter.html" %}
            <table class="table table-bordered table-striped">
                <tr>
                    <th></th>
                    <th>ФИО</th>
                    <th>Организация</th>
                    <th>Должность</th>
                    <th>
                        {% if studygroup.is_active %}
                            Курсовая работа
                        {% else %}
                            Действия
                        {% endif %}
                    </th>
                </tr>

                {% for vizit in object_list %}
                    {% with vizit.listener as listener %}
                    {% include "department/includes/studygroup_listener_tr.html" %}
                    {% endwith %}
                {% endfor %}
            </table>
            <div class="pagination-page">{% digg_paginator %}</div>

        </div>
    </div>
{% endblock content %}
