{% extends "department/base.html" %}

{% block extra_crumb %}
    <li><a href="{% url department:studygroup_list department.pk %}">
        Cписок групп</a><span class="divider">/</span></li>
    <li class="active">{{ object|truncatewords:3 }}</li>
{% endblock %}

{% block title %}{{ object }}{% endblock %}

{% block content %}
    {% with object as studygroup %}
    <div class="row">
        <div class="span6">
            <table class="table">
                <tr>
                    <th>Статус</th>
                    <td>
                        {{ studygroup.get_status_display }}
                        {% if studygroup.status == 1 %}
                            <form action="{% url department:studygroup_complete department.pk studygroup.pk %}"
                                  method="post">
                                {% csrf_token %}
                                <input type="submit" value="Завершить набор">
                            </form>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Слушателей</th>
                    <td>{{ studygroup.students.all.count }}</td>
                </tr>
                <tr>
                    <th>Организаций</th>
                    <td>{{ studygroup.organizations.count }}</td>
                </tr>
            </table>
        </div>
        <div class="span12">
            <h2>Последние зарегистрированные слушатели</h2>
            <table class="table table-bordered table-striped">
                {% include "includes/listener_table_thead.html" %}
                {% for listener in studygroup.students.all.reverse|slice:":10" %}
                    {% include "includes/listener_table_tr.html" %}
                {% endfor %}
            </table>


            {% if studygroup.status == 1 %}
            <a class="btn" href="{% url department:studygroup_listener_add studygroup.department.pk studygroup.pk %}">
                <i class="icon-list"></i> Добавить из списка</a>
            {% endif %}
            <a class="pull-right" href="{% url department:studygroup_listeners_list studygroup.department.pk studygroup.pk %}">
                Полный список слушателей этой группы</a>
        </div>
    </div>
    {% endwith %}
{% endblock content %}
