{% extends "department/base.html" %}

{% block extra_crumb %}
    <li class="active">Группы</li>
{% endblock %}

{% block title %}Список групп{% endblock %}

{% block content %}
    <table class="table table-striped">
        <tr>
            <th>Название</th>
            <th>Дата начала</th>
            <th>Дата завершения</th>
            <th>Статус</th>
            <th>Кол-во слушателей</th>
        </tr>
        {% for studygroup in object_list %}
        <tr>
            <td><a href="{{ studygroup.get_absolute_url }}">{{ studygroup }}</a></td>
            <td>
                {% if studygroup.is_pending and studygroup.lateness < 0 %}
                    <p class="text-error" rel="tooltip" title="Опоздание {{ studygroup.start|timesince }}">
                        {{ studygroup.start }}
                    </p>
                {% else %}
                    <p>{{ studygroup.start }}</p>
                {% endif %}
            </td>
            <td>{{ studygroup.end }}</td>
            <td>{{ studygroup.get_status_display }}</td>
            <td>{{ studygroup.students.count }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock content %}
