{% extends "department/base.html" %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url department:studygroup_list department.pk %}">
            Cписок групп
            </a>
            <span class="divider">/</span>
        </li>
        <li>
            <a href="{% url department:studygroup_detail department.pk studygroup.pk %}">
                {{ studygroup|truncatewords:3 }}
            </a>
            <span class="divider">/</span>
        </li>
          {% block extra_crumb %}{% endblock %}
    </ul>
{% endblock %}

{% block actions %}
    {% if studygroup.is_pending or studygroup.is_completing or studygroup.is_active or is_certificating %}
        <div class="btn-group">
            <button class="btn dropdown-toggle" data-toggle="dropdown">Действия <span class="caret"></span></button>
            <ul class="dropdown-menu">
                {% if studygroup.is_pending or studygroup.is_completing %}
                    <li><a href="{% url department:studygroup_listener_add studygroup.department.pk studygroup.pk %}">
                        Добавить из списка
                    </a></li>
                {% endif %}
                {% if studygroup.is_completing %}
                    <li><a href="{% url department:studygroup_complete department.pk studygroup.pk %}">
                        Завершить набор
                    </a></li>
                {% endif %}
                {% if studygroup.is_active or studygroup.is_certificating %}
                    <li><a href="{% url department:studygroup_listener_attestation department.pk studygroup.pk %}">
                        Заполнить курсовые работы
                    </a></li>
                    <li><a href="{% url department:studygroup_close department.pk studygroup.pk %}">
                        Закрыть группу
                    </a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
