{% extends "department/studygroup_base.html" %}
{% load paginate zenforms %}

{% block extra_crumb %}
    <li class="active">Заполнение курсовых работ</li>
{% endblock %}

{% block title %}Заполнение курсовых работ группы - {{ studygroup|truncatewords:3 }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
            {% include "includes/listener_filter.html" %}
            <form action="." method="POST">
            <table class="table table-bordered table-striped">
                <tr>
                    <th></th>
                    <th>ФИО</th>
                    <th>Организация</th>
                    <th>Должность</th>
                    <th>Курсовая работа</th>
                </tr>
                {{ formset.management_form }}
                {% for form in formset %}
                    {% with form.instance.listener as listener %}
                        <tr>
                            <td>
                                {% if page_obj %}
                                    {{ forloop.counter0|add:page_obj.start_index }}
                                {% else %}
                                    {{ forloop.counter }}
                                {% endif %}
                            </td>
                            <td>
                                {{ listener.last_name }}
                                {{ listener.first_name }}
                                {{ listener.patronymic }}
                                <br>
                            <span class="muted">
                                {{ listener.last_name_inflated }}
                                {{ listener.first_name_inflated }}
                                {{ listener.patronymic_inflated }}
                            </span>
                            </td>
                            <td>
                                <a href="{% if get_params %}?{{ get_params }}&{% else %}?{% endif %}organization={{ listener.organization.name }}">
                                    {{ listener.organization }}
                                </a>
                            </td>
                            <td>
                                <a href="{% if get_params %}?{{ get_params }}&{% else %}?{% endif %}position={{ listener.position }}">
                                    {{ listener.position }}
                                </a>
                            </td>
                            <td>
                                <label>
                                    Название курсовой работы:
                                    {{ form.id }}
                                    {{ form.attestation_work_name }}
                                    {{ form.errors }}
                                </label>
                            </td>
                        </tr>
                    {% endwith %}
                {% endfor %}
            </table>
            <div class="form-actions">
                {% csrf_token %}
                {% if page_obj %}
                <input name="page" type="hidden" value="{{ page_obj.number }}" >
                {% endif %}
                {% if page_obj and page_obj.has_next %}
                    <input name="next_page" type="hidden" value="{{ page_obj.number|add:"1" }}">
                {% endif %}
                <input type="submit" class="btn btn-primary pull-right" value="Сохранить {% if page_obj and page_obj.has_next%}и далее{% endif %}">
            </div>
            </form>
            <div class="pagination-page">{% digg_paginator %}</div>

        </div>
    </div>
{% endblock content %}
