{% extends "crud/base.html" %}

{% block title %}Список объектов{% endblock %}

{% block content %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th>Название</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% if object.get_absolute_url %}{{ object.get_absolute_url }}{% else %}./{{ object.pk }}/{% endif %}">{{ object }}</a></td>
                <td>
                    <a href="./{{ object.pk }}/edit/">Редактировать</a>
                    <a href="./{{ object.pk }}/delete/">Удалить</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="./add/">Добавить</a>
{% endblock content %}