{% extends "core/base.html" %}

{% block content_title %}<h1 class="page-header">{% block title %}{% endblock %}</h1>{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
      <li><a href="{{ department.get_absolute_url }}">{{ department }}</a> <span
              class="divider">/</span></li>
      {% block extra_crumb %}{% endblock %}
    </ul>
{% endblock %}

{% block menu %}
<li><a href="{{ department.get_absolute_url }}">Филиал</a></li>
<li><a href="{% url department:course_list department.pk %}">Курсы</a></li>
<li><a href="#">Слушатели</a></li>
<li><a href="#">Организации</a></li>
<li><a href="#">Отчёты</a></li>
{% endblock %}