{% extends "auth/base.html" %}
{% load paginate %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
      <li><a href="{% url crud:core.department.list %}">Список слушателей</a> <span
              class="divider">/</span></li>
        <li><a href="{% url crud:core.department.read course.department.pk %}">{{ course.department }}</a> <span class="divider">/</span></li>
      <li class="active">{{ object }}</li>
    </ul>
{% endblock %}

{% block title %}Список слушателей курса - {{ course|truncatewords:3 }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12">
            {% with object_list as listeners %}
                {% include "includes/listener_table.html" %}
            {% endwith %}
            <div class="pagination-page">{% digg_paginator %}</div>

        </div>
    </div>
{% endblock content %}